 *{
            margin: 0;
            padding: 0;
            
        }
        /*-----NAV BAR----*/


        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 60px;
            background-color: #f2f2f2;

        }
        .logo {
            display: flex;
            align-items: center;
            gap:10px;
        }
        .logo img {
            width: 30px;
        }
        .logo h2 {
            margin: 0;
        }
        .nav-links {
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .nav-links p {
            margin: 0;
            cursor: pointer;
        }
        .order{
            background-color: #f57c00;
            color: black;
            font-weight: 700;
            border: none;
            padding: 8px 18px;
            border-radius: 20px;
            cursor: pointer;
        }
       
       
        /*-----hero section----*/
        .main{
            position: relative;
            text-align: center;
            
        }
        .main img{
            padding: 70px;
            width:90%;
            max-height: 500px;
            object-fit:initial;
            display: block;
        }
        .mhead{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            color:#FFFFFF;
            font-family: Plus Jakarta Sans, sans-serif;
            font-size: 42px;
            padding: 10px 20px;
        }
        .shead{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            color:#FFFFFF;
            font-family: Plus Jakarta Sans, sans-serif;
            font-style:normal ;
            font-size: 16px;
            font-weight: 50;
        }
        .exp{

            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(239, 107, 58);
            padding: 12px 25px;
            border-radius: 8px;
            font-weight: 600;
            cursor: pointer;
        }

        /*----about section----*/

        .content{
            margin: 60px 0;
            padding-left: 40px;
        }
        .det h2{
            text-align: left;
            margin-bottom: 20px;
        }

        .abt{
            text-align: left;
            line-height: 1.6;
            margin-bottom: 60px;
        }
        .popular{
            margin: 50px 0;
            padding-left: 40px;
        }
        .popitem1 {
            padding-left: 40px;
        }
        .popitem h2{
            text-align: left;
            margin-bottom: 20px;
        }
        .items {
            width: 465px;
            height: 465px;
            display: flex;
                
            
        }
        .items  img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            padding: 20px;
           


        }

        .items figcaption{
            text-align: left;
            padding: 0px 20px;
        }
        

        /*----products section----*/

        .products{
            margin: 50px 0px;
            padding-left: 40px;
            margin: 20px 0;
        }


        .menu{
            width: 1275px;
            border-collapse: collapse;
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            font-family: Arial,sans-serif;
           
        }
        .menu th, .menu td{
            padding: 12px 15px;
            text-align: left;
        }
        .menu thead{
            background-color: #fafafa;
        }
        .menu th{
            font-weight: 600;
            color: #333;
        }
        .menu tbody tr{
            border-top: 1px solid #eee;
        }
        .menu tbody tr:hover{
            background-color: #fafafa;
        }
        .menu td:last-child{
            white-space: nowrap;
            color:#444;
        }

        /*----contact section----*/

        .contact{
            width: 40%;
            margin: 50px 0;
            padding-left: 40px;
        }

        .info{
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
           
            
        }
        
        .info input, .info textarea{
            width: 100%;
            padding: 12px;
            margin-bottom:20px;
            border: none;
            border-radius: 8px;
            background-color: #e6e6e6;
            font-size: 14px;
        }
        .info textarea{
            height: 120px;
            resize: none;
        }
        .info button{
            background-color: #ff7a1a;
            color: white;
            border: none;
            padding: 10px 18px;
            border-radius: 6px;
            cursor: pointer;
        }
        .info button:hover{
            background-color: #e66900;
        }

        /*----FAQs section----*/

        .faq{
           
            padding: 40px 40px;
            margin: 20px 0;
            
        }
        .faq h2{
            margin-bottom: 20px;
        }
        .faq-item{
            background-color: #e6e6e6;
            border-radius: 8px;
            margin-bottom: 15px;
            width: 1275px;
            padding: 12px 16px;
        }
        .faq-item summary{
            cursor: pointer;
            font-weight: 500;
            list-style: none;
        }
        .faq-item p{
            margin-top: 10px;
            font-size: 14px;
            color: #444;
        }


        /*------footer------*/


        .footer {
          
            padding: 40px 60px 20px;
            text-align: center;
        }
        .footer-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        .footer-top .left,
        .footer-top .right {
            color: #7a6b5d;
            font-size: 14px;
            cursor: pointer;
        }
        .socials {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 20px;
        }
        .socials img {
            width: 20px;
            cursor: pointer;
        }
        .footer-bottom {
            margin-top: 25px;
            font-size: 14px;
            color: #7a6b5d;
        }